    <ion-buttons slot="start" class="top-margin">
      <ion-back-button defaultHref="/login" class="no-titlebar-back-button"></ion-back-button>
    </ion-buttons>
    <ion-content [fullscreen]="true">
      <ion-slides #slides pager="true" [options]="slideOptions">
        <ion-slide class="ion-no-padding">
          <form [formGroup]="OTPForm" (ngSubmit)="requestOTP()">
            <ion-grid fixed style="padding-bottom: 20%;">
              <ion-row class="ion-padding">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-padding ion-text-center">
                  <h4 class="ion-padding">{{'SIGNUP.Sign_Up' | translate}}</h4>
                </ion-col>
              </ion-row>
              <ion-row class="ion-padding-bottom">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <ion-item>
                    <ion-label position="floating">{{'SIGNUP.Enter_Mobile_Number' | translate}}</ion-label>
                    <ion-input required formControlName="MobileNumber" type="number" ></ion-input>
                  </ion-item>
                  <!-- <ion-item *ngIf="mobile.invalid && mobile.touched" lines="none">
                  <ion-text color="danger" class="form-error">
                    Not a valid mobile number.
                  </ion-text>
                </ion-item> -->
                </ion-col>
              </ion-row>

              <ion-row class="ion-padding-top">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <ion-button color="blackwhite" type="submit" shape="round" [disabled]="OTPForm.invalid">
                    {{'SIGNUP.Request_OTP' | translate}} 
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-slide>
        <ion-slide>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <ion-grid fixed>
              <ion-row class="ion-padding">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <h4> {{'SIGNUP.Create_an_Account' | translate}}</h4>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <ion-item class="ion-no-padding">
                    <ion-icon slot="end" name="create-outline" (click)="editMobile()"></ion-icon>
                    <ion-label>  {{'SIGNUP.Mob:' | translate}} {{ MobileNumber.value }}</ion-label>
                  </ion-item>
                  <!-- <ion-item *ngIf="name && name" lines="none">
                  <ion-text color="danger" class="form-error">
                    Not a valid name.
                  </ion-text>
                </ion-item> -->
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <ion-item>
                    <ion-label position="floating">{{'SIGNUP.OTP' | translate}}</ion-label>
                    <ion-input required formControlName="OTP" type="text"></ion-input>
                  </ion-item>
                  <!-- <ion-item *ngIf="name && name" lines="none">
                  <ion-text color="danger" class="form-error">
                    Not a valid name.
                  </ion-text>
                </ion-item> -->
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <ion-item>
                    <ion-label position="floating">{{'SIGNUP.Email' | translate}}</ion-label>
                    <ion-input required formControlName="Email" type="email"></ion-input>
                  </ion-item>
                  <!-- <ion-item *ngIf="country && country" lines="none">
                  <ion-text color="danger" class="form-error">
                    Not a valid country.
                  </ion-text>
                </ion-item> -->
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-padding">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <ion-item>
                    <ion-label position="floating">{{'SIGNUP.Password' | translate}}</ion-label>
                    <ion-input required formControlName="Password" [type]="passwordType" clearOnEdit="false">
                    </ion-input>
                    <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'>
                    </ion-icon>
                  </ion-item>
                  <!-- <ion-item *ngIf="password.invalid && password.touched" lines="none">
                  <ion-text color="danger" class="form-error">
                    Not a valid password address.
                  </ion-text>
                </ion-item> -->
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <ion-item>
                    <ion-label position="floating">{{'SIGNUP.Retype_Password' | translate}}</ion-label>
                    <ion-input required formControlName="ConfirmPassword" [type]="passwordType" clearOnEdit="false">
                    </ion-input>
                    <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'>
                    </ion-icon>
                  </ion-item>
                  <!-- <ion-item *ngIf="rt_password.invalid && rt_password.touched" lines="none">
                  <ion-text color="danger" class="form-error">
                    Not a valid rt_password address.
                  </ion-text>
                </ion-item> -->
                </ion-col>
              </ion-row>
              <!-- <ion-row class="ion-no-padding">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <ion-item>
                    <ion-label position="floating">One Time Password</ion-label>
                    <ion-input required formControlName="OTP" [type]="passwordType" clearOnEdit="false"
                      [disabled]="signupForm.invalid"></ion-input>
                    <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'>
                    </ion-icon>
                  </ion-item>
                  <ion-item *ngIf="OTP.invalid && OTP.touched" lines="none">
                  <ion-text color="danger" class="form-error">
                    Not a valid OTP address.
                  </ion-text>
                </ion-item>
                </ion-col>
              </ion-row> -->
              <ion-row class="ion-no-padding">
                <ion-col size="8" offset="2" size-lg="4" offset-lg="4" class="ion-text-center">
                  <ion-button color="blackwhite" type="submit" [disabled]="signupForm.invalid" expand="block"
                    shape="round">
                    {{'SIGNUP.Create_Account' | translate}}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-slide>
      </ion-slides>
    </ion-content>