<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>forget-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" lines="none">
      <ion-text color="danger" class="form-error">
        Please enter a valid email address.
      </ion-text>
    </ion-item>
    <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </ion-button>
  </form>

</ion-content>
